# Dependencias
node_modules/
__pycache__/
*.pyc
.venv/
venv/

# Build
dist/
build/
*.egg-info/

# Entorno
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
logs/
